<div class="goods container-fluid">
  <h2 class="goods-title" data-aos="zoom-in">На этой странице вы можете выбрать готовые изделия</h2>
  <div class=" goods-container row">

    <div class="goods-item col-xl-3 col-lg-4 col-sm-6 " *ngFor="let good of goods">
      <div class="goods-item__wrapper" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        routerLink="/modal/{{good.title}}">
        <img class="goods-item__wrapper-nothover" src="{{good.img}}" alt="goods">
        <img class="goods-item__wrapper-hover" src="{{good.imgHover}}" alt="goods">
      </div>
      <div class="container-fluid" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        routerLink="/modal/{{good.title}}">
        <div class="goods-item__title">
          <h3>{{good.title}} </h3>
        </div>
        <div class="goods-item__price">
          {{good.price}} UAH
        </div>
      </div>


      <div class="d-grid col-6 mx-auto">
        <button type="button" class="btn btn-outline-secondary" (click)="addToCart(good, $event)">Купить</button>
      </div>
    </div>




  </div>
</div>