<div class="cart container">
  <h2 data-aos="zoom-in">Корзина с товарами</h2>

  <h3 *ngIf="items.length < 1" class="cart-empty" data-aos="fade-up" data-aos-delay="300">В корзине пока нет товаров...
  </h3>

  <div *ngIf="items.length > 0">
    <div class="cart-container" *ngFor="let item of items;let i = index">
      <div data-aos="fade-right" data-aos-delay="500" class="row cart-item">
        <div class="col-8">
          <div class="row">
            <div class="col-md-8">
              <h3>{{item.title}}</h3>
            </div>
            <div class="col-md-4 ">
              <h3>{{item.price}} UAH</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-12">
              <input name="file" type="file" class="form-control" aria-describedby="fileHelp">
              <div id="fileHelp" class="form-text">Прикрепите вашу фотографиюю</div>
            </div>
          </div>
        </div>
        <div class=" cart-img col-lg-2 col-md-4 col-sm-4 col-4">
          <img src="{{item.img}}" alt="">
          <button class="btn btn-delete" title="delete item " (click)="delete(item.title)"><i
              class="fas fa-times"></i></button>
        </div>
      </div>
    </div>
    <div class="d-grid col-lg-6 col-12 mx-auto">
      <button type="button" class="btn btn-outline-secondary" (click)="clearCart()" data-aos="fade-up"
        data-aos-delay="100">Очистить корзину</button>
    </div>
    <div class="d-grid col-lg-6 col-12 mx-auto">
      <button type="button" class="btn btn-buy btn-outline-secondary" data-aos="fade-up" data-aos-delay="300">Оформить
        покупку</button>
    </div>
  </div>
</div>