@import "../../mixins-media";
@import "../../variables";

.cart {
  min-height: calc(100vh - 128px);

  .btn {
    margin-top: 20px;

    &-buy {
      background-color: rgb(85, 85, 85);
      color: white;
      margin-bottom: 80px;

      &:hover {
        background-color: white;
        color: rgb(85, 85, 85);
      }
    }

    &-delete {
      border-radius: 100%;
      font-size: 18px;
      padding: 2px;
      width: 30px;
      height: 30px;
      text-align: center;
      margin: 0;
      position: absolute;
      top: -15px;
      right: -5px;
      background-color: rgb(85, 85, 85);
      color: white;

      &:hover {
        background-color: white;
        color: rgb(85, 85, 85);
      }

      @include sm {
        width: 25px;
        height: 25px;
        right: 20px;
        font-size: 15px;
      }
    }
  }

  &-container {
    img {
      width: 100%;
      margin: auto;
    }

    input {
      @include md-min {
        margin-top: 100px;
      }
      @include md {
        margin-top: 30px;
      }
    }
  }

  &-item {
    padding: 40px 0;
    justify-content: center;
  }

  &-empty {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
  }

  &-img {
    position: relative;
  }
}
