@import "../../mixins-media";
@import "../../variables";

.modal-good {
  margin: 70px 0;

  &__title {
    margin: 30px;
    font-size: 35px;
  }

  &__price {
    font-size: 24px;

    @include md-min {
      margin: 30px;
    }

    @include md {
      margin: -10px 30px;
    }
  }

  &__btn {
    margin: 30px;

    &-gb {
      font-size: 30px;
      border: none;
      margin-top: -30px;

      p {
        font-size: 14px;
        margin-top: -15px;
        white-space: nowrap;

        @include lg {
          display: none;
        }
      }

      @include md {
        display: none;
      }
    }
  }

  .carousel-item {
    height: calc(100vh - 248px);

    img {
      height: 100%;
      margin: auto;
    }
  }
}
