<div class="own container">
  <h2 data-aos="zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600" class="own-title">Хочешь индивидуальный
    лук?</h2>
  <p class="main-subtitle" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-in-sine"
    data-aos-duration="600" class="own-subtitle">Мы готовы разработать его для тебя! <br>
    Заполняй форму и мы свяжемся с тобой.</p>

  <div class="row">
    <form class="col-lg-6 col-11 mx-auto" method="post">
      <div data-aos="fade-right" data-aos-delay="500" class="mb-3">
        <input name="text" type="text" class="form-control" placeholder="Имя Фамилия" required>
      </div>
      <div data-aos="fade-left" data-aos-delay="1000" class="mb-3">
        <input name="number" type="number" class="form-control" placeholder="Номер телефона" required>
      </div>
      <div data-aos="fade-right" data-aos-delay="1500" class="mb-3">
        <select name="form-select" class=" form-select " aria-label=".form-select example" required>
          <option selected>Способ связи</option>
          <option value="1">Telegram</option>
          <option value="2">WhatsApp</option>
          <option value="3">Viber</option>
          <option value="4">Телефонный звонок</option>
        </select>
      </div>
      <div data-aos="fade-left" data-aos-delay="2000" class="mb-3">
        <input name="file" type="file" class="form-control" aria-describedby="fileHelp">
        <div id="fileHelp" class="form-text">Прикрепите ваши пожаления / референсы.</div>
      </div>
      <div data-aos="fade-right" data-aos-delay="2500" class="d-grid">
        <button type="submit" class="btn btn-primary" (click)="addForm($event)">Отправить</button>
      </div>
    </form>
  </div>

</div>