<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image: url(../../assets/img/Artboard\ 2.jpg);">
    </div>
    <div class="carousel-item" style="background-image: url(../../assets/img/Artboard_3.png);">
    </div>
    <div class="carousel-item" style="background-image: url(../../assets/img/wdms36tzneq.jpg);">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
<main class="main">
  <div class="container">
    <h1 class="main-title" data-aos="zoom-in">DANSEI</h1>
    <p class="main-subtitle" data-aos="fade-up" data-aos-delay="200">Твой магазин цифровой одежды</p>
    <div class="main-text row">
      <div class="main-text__first col-xl-6 col-lg-7">
        <p data-aos="fade-up-right" data-aos-delay="200">С
          развитием соцсетей многие стали покупать вещи для создания
          контента, но
          после появления
          на фото обновка в
          лучшем случае
          возвращается обратно в магазин, а в худшем — захламляет гардероб или отправляется на свалку.</p>
        <p data-aos="fade-up-right" data-aos-delay="300">Теперь,
          когда многие задумываются о проблеме перепроизводства,
          такая модель потребления стала неприемлемой.
          Поэтому художники начали создавать цифровые вещи, которые можно купить, примерить и показать исключительно
          онлайн, не расходуя производственные ресурсы и не увеличивая количество отходов.</p>
        <p data-aos="fade-up-right" data-aos-delay="400">В
          цифровом луке дизайнер может проигнорировать законы физики,
          создать нереалистичное окружение и вообще никак
          себя не ограничивать.Но есть и другие плюсы. Путь от идеи до
          размещения цифровой вещи в инстаграме можно будет пройти за один день. Сейчас, чтобы сделать прототип, нужно
          заказать материалы, отшить пробную партию — она будет занимать место в магазине или на складе. С цифровой
          одеждой таких проблем нет </p>
        <p data-aos="fade-up-right" data-aos-delay="500">Новый
          производственный цикл может оказаться намного
          экологичнее, потому что сначала марка выпускает
          диджитал-коллекцию, а потом уже отшивает самые популярные модели. Отшиваться будет только та
          одежда, которую купят, а не бесконечные изделия для магазинных рейлов и последующего сжигания».</p>
      </div>
      <div class="main-text__img col-xl-6 col-lg-5" data-aos="fade-up-left" data-aos-delay="200"
        data-aos-duration="1000">
        <img src="../../assets/img/main_img_1.PNG" alt="main_img">
      </div>
    </div>
    <div class="main-steps">
      <h2 data-aos="zoom-in"> Как примерить цифровую вещь?</h2>
      <div class="steps row">
        <div class="steps-item col-sm-4">
          <div class=" steps-item__number">
            <p>1</p>
          </div>
          <h3 class="steps-item__title" data-aos="fade-up-right" data-aos-delay="300" data-aos-duration="1000">Выбираем
            лук</h3>
          <p class="steps-item__subtitle" data-aos="fade-up-right" data-aos-delay="300" data-aos-duration="1000">Сначала
            в <a class="steps-item__subtitle-link" routerLink="/goods">диджитал-ателье</a> нужно выбрать свой цифровой
            лук.</p>
        </div>
        <div class="steps-item col-sm-4">
          <div class=" steps-item__number">
            <p>2</p>
          </div>
          <h3 class="steps-item__title" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">Загружаем фото
            и оплачиваем</h3>
          <p class="steps-item__subtitle" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">Понравившийся
            лук нужно добавить в корзину, потом загрузить свою фотографию
            и оплатить покупку.</p>
        </div>
        <div class="steps-item col-sm-4">
          <div class=" steps-item__number">
            <p>3</p>
          </div>
          <h3 class="steps-item__title" data-aos="fade-up-left" data-aos-delay="800" data-aos-duration="1000">И все</h3>
          <p class="steps-item__subtitle" data-aos="fade-up-left" data-aos-delay="800" data-aos-duration="1000">Не
            позднее чем через 48 часов вы получите свою фотографию, на которой вы
            будете в новом digital луке.</p>
        </div>
      </div>
    </div>
    <div class="main-own">
      <h2 data-aos="zoom-in">Хочешь воплатить свою идею ?</h2>
      <p class="steps-item__subtitle" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">Мы с большим
        удовольствием поможем тебе в этом! Переходи в раздел <a class="main-own__link" routerLink="/own">изделие под
          заказ</a>
        заполняй форму и мы с тобой свяжемся.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h2 data-aos="zoom-in" data-aos-delay="300">Последняя коллекция</h2>
      <div class="goods-item col-xl-3 col-lg-6" *ngFor="let good of goods">
        <div class="goods-item__wrapper" routerLink="/modal/{{good.title}}">
          <img class="goods-item__wrapper-nothover" src="{{good.img}}" alt="goods">
          <img class="goods-item__wrapper-hover" src="{{good.imgHover}}" alt="goods">
        </div>
        <div class="container-fluid" routerLink="/modal/{{good.title}}">
          <div class="goods-item__title">
            <h3>{{good.title}} </h3>
          </div>
          <div class="goods-item__price">
            {{good.price}} UAH
          </div>
        </div>
        <div class="d-grid col-6 mx-auto">
          <button type="button" class="btn btn-outline-secondary" (click)="addToCart(good, $event)">Купить</button>
        </div>
      </div>
    </div>
  </div>
</main>